<a href="https://colab.research.google.com/github/Zeukodeus/series_for/blob/main/series_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = "serie 1:"
for i in range(1, 11):
  s += str(i)
  if i != 10:
    s += ", "
print(s)

In [ ]:
# serie 2: 2, 4, 8, 16, 32, 64 ....

for i in range(1, 11):
    print(2**i)

In [ ]:
# serie 3: 2, 6, 12, 20, 30, 42, 56, ...

for i in range(1, 11):
    if i == 1:
        print(2)
    else:
        n = i*(i+1)
        print(n)